# Auto detect text files and perform LF normalization
* text=auto

# Custom mapping for Verilog/SystemVerilog
*.v     text eol=lf
*.sv    text eol=lf
*.vh    text eol=lf
*.vhd   text eol=lf
*.vhdl  text eol=lf

# Markdown
*.md    text

# Graphics
*.png   binary
*.jpg   binary
*.jpeg  binary
*.gif   binary
*.ico   binary
*.pdf   binary

# ModelSim / Questa (.do = Tcl scripts)
*.do    text eol=lf linguist-language=Tcl
